.about_container{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;  
}

.about_p{
    margin-left: -50%;
    color: white;
}

.about_h1{
    font-size: 30px;
    color: white;
}

.about_span{
    padding-left: 15vh;
}

.about_para{
    padding-top: 5%;
    padding-left: 60%;
    color: white;
    text-align: justify;
}


@media screen and (max-width: 425px) {
    .about_h1{
       font-size: 20px;
    }

    .about_para{
       font-size: 15px;
       line-height: normal;
       padding-left: 20%;
    }
}

